@page "/"
@using BlazorWithTailwind.Components.Shared

<PageTitle>Home</PageTitle>

<h1 class="text-2xl">Hello, world!</h1>

<SlideIn>
	<button type="button" class="px-70 py-3 font-semibold rounded dark:bg-gray-800 dark:text-gray-100">Test</button>
</SlideIn>

<button type="button" class="px-8 py-3 font-semibold rounded-full dark:bg-gray-800 hover:bg-sky-700 dark:text-gray-100">Rounded</button>
