@page "/"
@using BlazorWithTailwind.Components.Shared

<PageTitle>Home</PageTitle>

<h1 class="text-2xl">Hello, world!</h1>

<SlideIn>
	<button type="button" class="px-80 py-3 font-semibold rounded dark:bg-gray-800 dark:text-gray-100">Test</button>
</SlideIn>


<section class="dark:bg-gray-100 dark:text-gray-800">
	<div class="container mx-auto flex flex-col items-center px-4 py-16 text-center md:py-32 md:px-10 lg:px-32 xl:max-w-3xl">
		<h1 class="text-4xl font-bold leading-none sm:text-5xl">Quisquam necessita vel
			<span class="dark:text-violet-600">laborum doloribus</span>delectus
		</h1>
		<p class="px-8 mt-8 mb-12 text-lg">Cupiditate minima voluptate temporibus quia? Architecto beatae esse ab amet vero eaque explicabo!</p>
		<div class="flex flex-wrap justify-center">
			<button class="px-8 py-3 m-2 text-lg font-semibold rounded dark:bg-violet-600 dark:text-gray-50">Get started</button>
			<button class="px-8 py-3 m-2 text-lg border rounded dark:text-gray-900 dark:border-gray-300">Learn more</button>
		</div>
	</div>
</section>