@page "/"

<PageTitle>Home</PageTitle>

<h1 class="text-black font-extrabold">Hello, woerld!</h1>
<button class="text-"></button>
<div class="inline-flex items-center divide-x rounded dark:bg-violet-600 dark:text-gray-100 dark:divide-gray-300">
    <button type="button" class="px-8 py-3">Caret</button>
    <button type="button" title="Toggle dropdown" class="p-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
    </button>
</div>